.title{
    font-size: 80px;
    text-align: center;
    color: rgb(28, 110, 187);
    margin-top: 100px;
    border: 3px solid;
    border-radius: 25px;
    background-color: rgb(176, 176, 176);
}

.choices{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.results{
    margin-top: 1rem;
    font-size: 3rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
#win-score{
    margin-left: .1rem;
    font-size: 2rem;
}
#lose-score{
    margin-left: .1rem;
    font-size: 2rem;
}
body {
	height: 100%;
	background-image: linear-gradient(hsl(10,90,66), transparent 70%);
	background-size: 100% 100%;
	mix-blend-mode: difference;
	}
.message-box{
    display: flex;
    justify-content: center;
}
#message-container{
    width: fit-content;
    margin-top: 50px;
    border: 3px solid #333;
    border-radius: 25px;
    padding: 15px;
    text-align: center;
    font-size: 2rem;
    color: darkorange;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}

html {
	height: 2000px;
	background-color: red;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/64/Creaci%C3%B3n_de_Ad%C3%A1n_%28Miguel_%C3%81ngel%29.jpg);
	background-size: 100% auto;
	background-position: top center;
	background-attachment: fixed;
	}

/* i know i need to adjust css for win and loss column */